html, body {
	padding: 0;
	margin: 0;
}

canvas {
	vertical-align: bottom;
}

#debug {
	position: absolute;
	z-index: 10;
	background: #eee;
	padding: 10px;
	font-size: 10px;
	max-height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}